<!-- Application Navbar  -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
          <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
              <a class="navbar-brand" href="#">HCSC</a></div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp; </a></li>
                  <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </div>  
  </div>
</nav>